// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#ask{
  background-color: #327AB8;
  color: white;
  padding: 10px;
}

#question{
  padding: 10px;
}